<html xmlns:th="http://www.thymeleaf.org">
<th:block>
    <div class="container">
        <br/>
        <br/>
        <div class="row">
            <div class="col-md-5">
                <form action="/myArticles/add" method="POST" enctype="multipart/form-data">
                    <input id="id" type="hidden" name="id" th:value="(${article} != null ? ${article.getId()} : '')">
                    <input id="username" type="hidden" name="username" th:value="(${#session.getAttribute('email')} != null ? ${#session.getAttribute('email')} : ${#request.getRemoteUser()})">
                    <div class="form-group">
                        <label for="title" class="mb-0 text-black-50" style="font-size:30px;">Research title</label>
                        <input type="text"
                               class="form-control"
                               id="title"
                               name="title"
                               th:value="(${article} != null ? ${article.getTitle()} : '')"
                               required
                               placeholder="Enter the title of the research">
                    </div>
                    <div class="form-group">
                        <label for="description" class="mb-0 text-black-50" style="font-size:30px;">Research
                            description</label>
                        <textarea rows="10" cols="100"
                                  id="description"
                                  name="description"
                                  th:text="(${article} != null ? ${article.getDescription()} : '')"
                                  required
                                  placeholder="Enter the description of the research"
                        ></textarea>
                    </div>
                    <div class="form-group">
                        <label class="mb-0 text-black-50" style="font-size:30px;">Research category</label>
                        <select name="categoryId" class="form-control">
                            <option th:if="${article} != null"
                                    th:selected="${article.getCategory() != null && article.getCategory().getId() == cat.getId()}"
                                    th:each="cat : ${categories}"
                                    th:value="${cat.getId()}"
                                    th:text="${cat.getName()}">
                            </option>
                            <option th:if="${article} == null"
                                    th:each="cat : ${categories}"
                                    th:value="${cat.getId()}"
                                    th:text="${cat.getName()}">
                            </option>
                        </select>
                    </div>
                    <!--                        <label for="urlImage" class="btn btn-lg btn-dark btn-outline-light btn-block">Add image</label>-->
                    <input type="file"
                           class="form-control"
                           id="urlImage"
                           name="urlImage"
                           accept="image/*">
                    <button type="submit" class="btn btn-lg btn-dark btn-outline-light btn-block">Submit</button>
                    <a type="button" class="btn btn-lg btn-light btn-outline-dark"
                       href="/myArticles">Back</a>
                </form>
            </div>
        </div>
    </div>
</th:block>
</html>