<html xmlns:th="http://www.thymeleaf.org">
<th:block>
        <div class="container"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
            <div class="row card-container border1 text-center" style="background-color:#ffffff;">
                <div class="researches">
                    <div style="background-color:#9AC4A5;"><br/>
                        <h3 class="card-title">
                            <th:block th:text="${article.getTitle()}"></th:block>
                        </h3>
                        <br/>
                    </div>
                    <img th:src="@{'/myArticles/image/{id}' (id=${article.getId()})}"
                        alt="" class="card-img-top center align-content-center" width="400" height="650">
                    <p class="text-black- mb-0 text-left"><i>Research Description:<br/>
                        <th:block th:text="${article.getDescription()}"></th:block></i>
                    </p>
                    <p class="text-black-50 mb-0 text-left">Research category:
                        <th:block th:text="${article.getCategory().getName()}"></th:block>
                    </p>
                    <p class="text-black-50 mb-0 text-left">Date created:
                        <th:block th:text="${article.getDateCreated()}"></th:block>
                    </p>
                    <p class="text-black-50 mb-0 text-left">Author:
                        <th:block th:text="${article.getUser().getUsername()}"></th:block>
                    </p>
                    <a type="button" class="btn btn-lg btn-block btn-dark btn-outline-light" href="/myArticles">Back</a>
                </div>
            </div>
        </div>
</th:block>
</html>
