<html xmlns:th="http://www.thymeleaf.org">
<th:block>
        <div class="container"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
            <br/>
            <div class="text-center" >
                <div>
                    <div><br/>
                        <h3 class="card-title text-light">
                            <th:block th:text="${article.getTitle()}"></th:block>
                        </h3>
                        <br/>
                    </div>
                    <img th:src="@{'/myArticles/image/{id}' (id=${article.getId()})}"
                        alt="" class="image-width center align-content-center">
                    <p class="text-black-50"><i>Research Description:<br/>
                        <th:block th:text="${article.getDescription()}"></th:block></i>
                    </p>
                    <p class="text-black-50 mb-0">Research category:
                        <th:block th:text="${article.getCategory().getName()}"></th:block>
                    </p>
                    <p class="text-black-50 mb-0">Date created:
                        <th:block th:text="${article.getDateCreated()}"></th:block>
                    </p>
                    <p class="text-black-50 mb-0">Author:
                        <th:block th:text="${article.getUser().getUsername()}"></th:block>
                    </p>
                    <a type="button" class="btn btn-lg btn-dark btn-outline-light" th:href="${href_link}">Back</a>
                </div>
            </div>
        </div>
</th:block>
</html>
