<html xmlns:th="http://www.thymeleaf.org">
<th:block>
        <div class="container" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
            <div class="row card-container">
                <div class="researches">
                    <h3 class="card-title">Research Title 1</h3>
                    <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
                        alt="" class="card-img-top" width="400" height="350">
                    <p class="text-black-50 mb-0">Research description</p>
                    <p class="text-black-50 mb-0">Research category</p>
                    <p class="text-black-50 mb-0">Date</p>
                    <a type="button" class="btn btn-lg btn-light btn-outline-dark" href="/my-articles">Back</a>
                </div>
            </div>
        </div>
</th:block>
</html>
