<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div class="container">
    <div class="row card-container">
        <div class="researches">
            <div class="card class1" th:if="${articles.size() > 0}" th:each="article : ${articles}">
                <img th:src="@{'myArticles/image/{id}' (id=${article.getId()})}"
                     alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title" th:text="${article.getTitle()}"></h5>
                    <p class="card-text text-light" th:text="${article.getCategory().getName()}"></p>
                    <a th:href="@{'/researches/{id}/readMore' (id=${article.getId()})}" class="btn btn-outline-success btn-sm">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${hasError}">
        <h5 class="text-center text-danger" th:text="${error}"></h5>
    </div>
</div>
</html>