<html xmlns:th="http://www.thymeleaf.org">
<th:block>
    <section class=" jumbotron text-center" style="background-color:#cbddc0;">
        <div class="container">
            <h1 class="jumbotron-heading">AI BALKAN FORUM</h1>
            <br/>
        </div>
        <div class="text-center" >
            <!-- Projects-->
            <section id="projects" style="background-color:#cbddc0;">
                <div class="container">
                    <!-- Featured Project Row-->
                    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                        <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="img/pic1.jpg" width="400" height="221" alt="" /></div>
                        <div class="col-xl-4 col-lg-5">
                            <div class="featured-text text-center text-lg-left">
                                <h5>News and researches</h5>
                                <p class="text-black-50 mb-0">Here, you can find all the newest papers and researches about Artificial Intelligence.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Project Two Row-->
                    <div class="row justify-content-center no-gutters">
                        <div class="col-lg-6"><img class="img-fluid" src="img/pic2.jpg" width="300" height="500"  alt="" /></div>
                        <div class="col-lg-6 order-lg-first">
                            <div class="bg-black text-center h-100 project">
                                <div class="d-flex h-100">
                                    <div class="project-text w-100 my-auto text-center text-lg-right">
                                        <h5>Error in your code?</h5>
                                        <p class="mb-0 text-black-50">Our Forum offers you the possibility to ask questions and get random answers and suggestions to your problem</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Project One Row-->
                    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                        <div class="col-lg-6"><img class="img-fluid" src="img/pic3.jpg" width="400" height="221"  alt="" /></div>
                        <div class="col-lg-6">
                            <div class="bg-black text-center h-100 project">
                                <div class="d-flex h-100">
                                    <div class="project-text w-100 my-auto text-center text-lg-left">
                                        <h5>My own research paper?</h5>
                                        <p class="mb-0 text-black-50">Yes! We also offer you the opportunity to publish your own paper for the whole world to see it.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</th:block>
</html>