<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div class="container">
    <br/>
    <br/>
<!--    <a sec:authorize="isAuthenticated()" href="/myArticles/add-form" class="btn btn-block btn-dark add-product-btn">-->
<!--        Add new article-->
<!--    </a>-->
    <div class="row card-container">
        <div class="researches">
            <div class="card class2 border1" th:if="${articles.size() > 0}" th:each="article : ${articles}">
                <img class="card-img-top" th:src="@{'myArticles/image/{id}' (id=${article.getId()})}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${article.getTitle()}"></h5>
                    <p class="card-text text-light" th:text="${article.getCategory().getName()}"></p>
                    <a th:href="@{'/myArticles/{id}/readMore' (id=${article.getId()})}" class="btn btn-outline-success btn-sm">Read More</a>
                    <form style='display:inline;' th:action="@{'/favourites/add-article/{id}' (id=${article.getId()})}" th:method="POST">
                        <button type="submit" class="btn btn-outline-danger btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                                 class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                            </svg>
                        </button>
                    </form>
                    <a th:href="@{'/myArticles/{id}/edit' (id=${article.getId()})}" class="btn btn-outline-primary btn-sm">Edit</a>
                    <form class="card-bucket"th:action="@{'/myArticles/{id}/delete' (id=${article.getId()})}"
                          th:method="POST">
                        <button type="submit" class="btn btn-outline-dark btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                                 class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd"
                                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
                        <div class="card border1" sec:authorize="isAuthenticated()">
                            <a href="/myArticles/add-form">
                                <img src="/img/add-article1.jpg"
                                     alt="" class="card-img add-article">
                                <div class="card-body">
                                    <h5 class="card-text" style="text-align:center;color: gray">Add article</h5>
                                </div>
                            </a>
                        </div>
        </div>
    </div>
</div>
</html>