<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div class="container">
    <div class="main-body p-0">
        <div class="inner-wrapper">
            <!-- Inner main -->
            <div class="inner-main">
                <!-- Inner main header -->
                <div class="inner-main-header">
                    <a class="nav-link nav-icon rounded-circle nav-link-faded mr-3 d-md-none" href="#"
                       data-toggle="inner-sidebar"><i class="material-icons">arrow_forward_ios</i></a>
                    <select class="custom-select custom-select-sm w-auto mr-1">
                        <option selected="">Latest</option>
                        <option value="1">Popular</option>
                        <option value="3">Solved</option>
                        <option value="3">Unsolved</option>
                        <option value="3">No Replies Yet</option>
                    </select>
                    <span class="input-icon input-icon-sm ml-auto w-auto">
                    <form th:action="@{'/myQuestions/questionAndAnswerFilter/{id}' (id=${question.getId()})}"
                          method="POST"
                          class="form-filter">
                        <input type="text" name="titleAndDesc"
                               class="form-control search-forum-button
                               form-control-sm bg-gray-200 border-gray-200 shadow-none mb-4 mt-4"
                               placeholder="Search"/>
                       <button class="btn btn-secondary" type="submit">Search</button>
                    </form>
                    </span>
                </div>
                <!-- /Inner main header -->
                <!-- Forum Detail -->
                <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
                    <a href="/myQuestions" class="btn btn-light btn-sm mb-3 has-icon"><i
                            class="fa fa-arrow-left mr-2"></i>Back</a>
                    <div class="card mb-2 forum-card">
                        <div class="card-body p-2 p-sm-3 forum-card-body">
                            <div class="media forum-item">
                                <a href="javascript:void(0)" class="card-link">
                                    <img src="/img/95545246-cute-cartoon-surprised-robot.jpg" class="rounded-circle"
                                         width="50" alt="User"/>
                                    <small class="d-block text-center text-muted">Newbie</small>
                                </a>
                                <div class="media-body ml-3">
                                    <a href="javascript:void(0)" class="text-secondary"
                                       th:text="${question!=null} ? ${question.getUser().getUsername()} : ''">Mokrani</a>
                                    <small class="text-muted ml-2"
                                           th:text="${question.getDateCreated().getDayOfMonth() + ' ' + question.getDateCreated().getMonth()
                                            + ' ' + question.getDateCreated().getYear()}">1 hour ago</small>
                                    <h5 class="mt-1" th:text="${question.getTitle()}">Realtime fetching data</h5>
                                    <div class="mt-3 font-size-sm">
                                        <p th:text="${question.getDescription()}">Hellooo :)</p>

                                    </div>
                                </div>
                                <div class="text-muted small text-center">
                                    <i class="far fa-comment ml-2"></i><span th:text="${numAnswers}"> 3</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2 forum-card"
                         th:if="${answers.size() > 0}" th:each="answer : ${answers}">
                        <div class="card-body p-2 p-sm-3 forum-card-body">
                            <div class="media forum-item">
                                <a href="javascript:void(0)" class="card-link">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle"
                                         width="50" alt="User"/>
                                    <small class="d-block text-center text-muted">Pro</small>
                                </a>
                                <div class="media-body ml-3">
                                    <a href="javascript:void(0)" class="text-secondary"
                                       th:text="${answer.getUser().getUsername()}">drewdan</a>
                                    <small class="text-muted ml-2">1 hour ago</small>
                                    <div class="mt-3 font-size-sm">
                                        <p th:text="${answer.getDescription()}">What exactly doesn't work with your ajax
                                            calls?</p>
                                    </div>
                                </div>
                                <div class="text-muted small text-center align-self-center">
                                    <form th:action="@{'/myQuestions/delete-answer/{answerId}/{questionId}' (answerId=${answer.getId()},questionId=${question.getId()})}"
                                          th:method="POST" class="button-space">
                                        <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button sec:authorize="isAuthenticated()"
                            class="btn btn-light"
                            data-target="#threadModal"
                            data-toggle="modal">Reply
                    </button>
                </div>
                <!-- /Forum Detail -->
            </div>
            <!-- /Inner main -->
            <!-- New Thread Modal -->
            <div class="modal fade" id="threadModal" tabindex="-1" role="dialog" aria-labelledby="threadModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <form th:action="@{'/myQuestions/addAnswer/{id}' (id=${question.getId()})}" method="POST">
                            <input id="username" type="hidden" name="username" th:value="(${#session.getAttribute('email')} != null ? ${#session.getAttribute('email')} : ${#request.getRemoteUser()})">
                            <div class="modal-header d-flex align-items-center bg-secondary text-white">
                                <h6 class="modal-title mb-0" id="threadModalLabel">Answer question</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label for="questionText">Write your answer here</label>
                                <textarea class="form-control summernote" name="questionText"
                                          id="questionText"></textarea>

                                <!--                            <div class="custom-file form-control-sm mt-3" style="max-width: 300px;">-->
                                <!--                                <input type="file" class="custom-file-input" id="customFile" multiple=""/>-->
                                <!--                                <label class="custom-file-label" for="customFile">Attachment</label>-->
                                <!--                            </div>-->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Post</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>